@model IEnumerable<project_sem_3.Models.Order>

@{
    ViewBag.Title = "Index Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">List Order</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</div>

<!-- Row -->
<div class="row">
    <!-- DataTable with Hover -->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Discount.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.CustomerPhone)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerEmail)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.CustomerAddress)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentMethod)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discount.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.CustomerPhone)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerEmail)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.CustomerAddress)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentMethod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td class="action-btn">
                                <a href="/Admin/OrderDetails/@(item.Id)" data-toggle="tooltip" title="Details"><i class="fas fa-eye"></i></a>
                                <a href="/Admin/OrderEdit/@(item.Id)" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                @if (item.Status == project_sem_3.Models.EOrderStatus.Received || item.Status == project_sem_3.Models.EOrderStatus.Processing || item.Status == project_sem_3.Models.EOrderStatus.Shipping || item.Status == project_sem_3.Models.EOrderStatus.Delivered)
                                {
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#modalDelete" id="#modalDelete" class="action_status" data=@item.Id title="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#modalRestore" id="#modalRestore" class="action_status" data=@item.Id title="Restore">
                                        <i class="fas fa-undo"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Row-->


<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success action_model_close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger action_model_delete">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRestore" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Restore</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger action_model_close" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-success action_model_restore">Yes</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/admin-table")
    <!-- Page level custom scripts -->
    <script>
        var idTemp = 0;
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#dataTable').DataTable(); // ID From dataTable
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
        $('.action_status').click(function () {
            idTemp = $(this).attr("data");
        })
        $('.action_model_close').click(function () {
            idTemp = 0
        })
        $('.action_model_delete').click(function () {
            if (idTemp > 0) {
                //let origin = window.location.origin;
                location.href = "/Admin/OrderDelete/" + idTemp
            }
        })
        $('.action_model_restore').click(function () {
            if (idTemp > 0) {
                //let origin = window.location.origin;
                location.href = "/Admin/OrderRestore/" + idTemp
            }
        })
    </script>
}