<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="@Url.Content("~/Content/Images/logo/logo.png")" rel="icon">
    <title>Admin</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/487766e226.css">
    @Styles.Render("~/Content/admin-css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="bg-gradient-login">

    <div class="container-login">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card shadow-sm my-5">
                    <div class="card-body p-0">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
</body>

</html>